/* 
    Document   : default
    Created on : 06/05/2012, 11:40:58 PM
    Author     : FraGoTe
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root 
{ 
    display: block;
}

body
{
    margin-top: 0px;
    background-image: url("../images/u_fondo.png"); 
    font-family: 'Helvetica',Arial,serif;
    font-size: 12px;
}
#wrapper
{
    box-shadow: 0 10px 10px #878787;
    clear: both;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 980px;
    background-color: white;
}
#leyenda_div
{   
    height: 22px; 
    border-bottom: 1px solid #FFF;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/bg_mod.png");
    background-origin: padding-box;
    background-position: left top;
    background-repeat: repeat-x;
    background-size: auto auto;
}
#header-no
{
    height:200px;
    background-color: #FBFBFB;
    margin-top: 0px;
    margin-bottom: 0px;
}
#horiznav
{   
    margin-top: 0px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/horiz_bg.png");
    background-origin: padding-box;
    background-position: 0 bottom;
    background-repeat: repeat-x;
    background-size: auto auto;
    width: 980px;
}
.horiznav ul 
{
    line-height: 43px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-top: 3px;
}
.horiznav 
{
    float: none;
    height: 43px;
}
.msnfoot1 
{
    border-top-color: #CDCDCD;
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 92%;
    line-height: normal;
    margin-bottom: 0.667em;
    margin-left: 0.667em;
    margin-right: 0.667em;
    margin-top: 1.083em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5em;
}
.msnfoot1 a, .msnfoot1 a:link, .msnfoot1 a:visited 
{
    color: #999999;
}
.msnfoot1 a:hover, .msnfoot1 a:active 
{
    color: #333333;
}
.left_primary 
{
    color: #999999;
    display: block;
    float: left;
    padding-left: 5px;
    text-align: left;
}
.msnfoot1 .primary li 
{
    display: block;
    float: left;
    padding-bottom: 0;
    padding-left: 0.833em;
    padding-right: 0.833em;
    padding-top: 0;
}
.msnfoot1 .primary li.first 
{
    padding-left: 0;
}
.msnfoot1 .secondary 
{
    text-align: right;
}
.msnfoot1 .secondary a 
{
    color: #025A8D;
    outline-color: -moz-use-text-color;
    white-space: pre;
}
.msnfoot1 .primary a 
{
    color: #025A8D;
    outline-color: -moz-use-text-color;
}
.msnfoot1 .secondary li 
{
    display: block;
    float: right;
    padding-bottom: 0;
    padding-left: 0.833em;
    padding-right: 0.833em;
    padding-top: 0;
}
.msnfoot1 .secondary li.first 
{
    padding-right: 0;
}
.msnfoot1 ul 
{
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.msnfoot1 .copyright 
{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
  /*  background-image: url("../images/ceuci.png"); */
    background-origin: padding-box;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    clear: right;
    color: #999999;
    float: right;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    min-height: 26px;
}
.msnfoot1 .copyright span 
{
    display: block;
    line-height: 20px;
    margin-right: 90px;
    padding-right: 10px;
}
a.copyright:hover, a.copyright:hover span, a.copyright:active span 
{
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #999999;
}
a.copyright:hover span 
{
    cursor: default;
}
a:link, a:visited 
{
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #646F75;
}
#contenido
{
    height: 400px; 
    padding-top: 100px; 
    width: 980px;
    background-color: white;
    margin: 0px;
}
#footer
{
    font-size:12px; 
    width:980px;
    background: #FFF;
    height: 80px;
}
#unfv
{
    float: left;
    width:200px; 
    font-family:Tahoma; 
    font-size:8.5pt; 
    margin-left: 10px; 
    color:#FFF;
    padding-top: 4px;
}
#fecha
{
     float:right; 
     width:390px;
     font-family:Tahoma; 
     font-size:8.5pt;
     text-align:center; 
     padding:3px 10px; 
     font-weight:500; 
     color: #FFF;
     text-align:right;
     height: 5px;
}